USE [SaleLaptopSystem]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 10/27/2020 2:27:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brands]    Script Date: 10/27/2020 2:27:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brands](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Brands] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 10/27/2020 2:27:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 10/27/2020 2:27:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Content] [nvarchar](max) NULL,
	[date] [datetime] NOT NULL,
	[Accept] [bit] NOT NULL,
	[Active] [bit] NOT NULL,
	[UserID] [int] NULL,
	[ProductID] [int] NULL,
 CONSTRAINT [PK_dbo.Comments] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Images]    Script Date: 10/27/2020 2:27:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Images](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[image] [nvarchar](max) NULL,
	[ProductID] [int] NULL,
 CONSTRAINT [PK_dbo.Images] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 10/27/2020 2:27:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [float] NOT NULL,
	[OrderID] [int] NULL,
	[ProductID] [int] NULL,
 CONSTRAINT [PK_dbo.OrderDetails] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 10/27/2020 2:27:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[date] [datetime] NOT NULL,
	[TotalQuantiy] [int] NOT NULL,
	[TotalPrice] [float] NOT NULL,
	[Note] [nvarchar](max) NULL,
	[Active] [bit] NOT NULL,
	[UserID] [int] NULL,
 CONSTRAINT [PK_dbo.Orders] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductDetails]    Script Date: 10/27/2020 2:27:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductDetails](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Processor] [nvarchar](max) NULL,
	[RAM] [nvarchar](max) NULL,
	[Screen] [nvarchar](max) NULL,
	[Storage] [nvarchar](max) NULL,
	[Graphic] [nvarchar](max) NULL,
	[Size] [nvarchar](max) NULL,
	[OS] [nvarchar](max) NULL,
	[Video] [nvarchar](max) NULL,
	[Connection] [nvarchar](max) NULL,
	[Keyboard] [nvarchar](max) NULL,
	[Battery] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ProductDetails] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 10/27/2020 2:27:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Price] [float] NOT NULL,
	[Discount] [float] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Features] [nvarchar](max) NULL,
	[Active] [bit] NOT NULL,
	[BrandID] [int] NULL,
	[CategoryID] [int] NULL,
	[ProductDetailID] [int] NULL,
 CONSTRAINT [PK_dbo.Products] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/27/2020 2:27:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Fullname] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[Image] [nvarchar](max) NOT NULL,
	[Role] [nvarchar](max) NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Brands] ON 

INSERT [dbo].[Brands] ([ID], [Name], [Image], [Active]) VALUES (1, N'Asus', N'..\SaleLaptopSystem\SaleLaptopSystem\SaleLaptopSystem\img\Brands_img\asus_logo-1024x538.jpg', 1)
INSERT [dbo].[Brands] ([ID], [Name], [Image], [Active]) VALUES (2, N'Dell', N'..\SaleLaptopSystem\SaleLaptopSystem\SaleLaptopSystem\img\Brands_img\logo-may-tinh.jpg', 1)
INSERT [dbo].[Brands] ([ID], [Name], [Image], [Active]) VALUES (3, N'Apple', N'..\SaleLaptopSystem\SaleLaptopSystem\SaleLaptopSystem\img\Brands_img\apple_logo.jpg', 1)
SET IDENTITY_INSERT [dbo].[Brands] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([ID], [Name], [Active]) VALUES (1, N'Asus', 1)
INSERT [dbo].[Categories] ([ID], [Name], [Active]) VALUES (2, N'Dell', 1)
INSERT [dbo].[Categories] ([ID], [Name], [Active]) VALUES (3, N'Apple', 1)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Images] ON 

INSERT [dbo].[Images] ([ID], [image], [ProductID]) VALUES (5, N'/img/Brands_img/Product1.png', 1)
INSERT [dbo].[Images] ([ID], [image], [ProductID]) VALUES (6, N'/img/Brands_img/Product2.png', 2)
INSERT [dbo].[Images] ([ID], [image], [ProductID]) VALUES (7, N'/img/Brands_img/Product3.png', 3)
SET IDENTITY_INSERT [dbo].[Images] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductDetails] ON 

INSERT [dbo].[ProductDetails] ([ID], [Processor], [RAM], [Screen], [Storage], [Graphic], [Size], [OS], [Video], [Connection], [Keyboard], [Battery]) VALUES (1, N'	Intel Core i3 Comet Lake, 10110U, 2.10 GHz', N'	8 GB, DDR4 (On board 4GB +1 khe 4GB), 2666 MHz', N'15.6 inch, Full HD (1920 x 1080)', N'SSD 512 GB M.2 PCIe', N'	Card d? h?a tích h?p, Intel UHD Graphics', N'	Dày 19.9 mm, 1.676 kg', N'Windows 10 Home SL', N'https://www.youtube.com/watch?v=AYvGjMMIan0&feature=emb_title', N'1 x USB 3.2,2 x USB 2.0,HDMI,USB Type-C', N'	B?o m?t vân tay', N'AD2108020')
INSERT [dbo].[ProductDetails] ([ID], [Processor], [RAM], [Screen], [Storage], [Graphic], [Size], [OS], [Video], [Connection], [Keyboard], [Battery]) VALUES (2, N'Core i9 2.30 GHz', N'Dung lu?ng RAM :16 GB, DDR4, 2666 MHz', N'16.0 inch,	3072 x 1920 Pixel', N'SSD 1 TB', N'	Card onboard  UHD Graphics', N'		16.2mm 2.0 kg', N'Mac OS', N'', N'Type-C :x4 ,USB 3.0 :x4', N'	B?o m?t vân tay', N'USB-C 96W')
SET IDENTITY_INSERT [dbo].[ProductDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ID], [Name], [Price], [Discount], [Description], [Features], [Active], [BrandID], [CategoryID], [ProductDetailID]) VALUES (1, N'MacBook Pro 16" 2019 Touch Bar 2.3GHz Core i9 1TB ', 69990000, 50000, N'Chi?c máy tính xách tay m?nh m? nh?t, phá v? m?i gi?i h?n dã xu?t hi?n. MacBook Pro 16 Touch Bar v?i c?u hình siêu m?nh, bàn phím Magic m?i và m?t màn hình l?n s? mang d?n cho b?n s?n ph?m “Pro” chua t?ng th?y.', N'B? vi x? lý Intel Core i9 d?ng c?p, t?c d? làm vi?c nhanh nhu t?c d? suy nghi', 1, 3, 3, 2)
INSERT [dbo].[Products] ([ID], [Name], [Price], [Discount], [Description], [Features], [Active], [BrandID], [CategoryID], [ProductDetailID]) VALUES (2, N'Laptop Asus VivoBook A512FA i3 10110U/8GB/512GB/Win10 (EJ2033T)', 13990000, 50000, N'Laptop Asus VivoBook A512FA i3 (EJ2033T) là s? l?a ch?n lí tu?ng cho các b?n h?c sinh sinh viên và nhân viên van phòng nh? kích thu?c nh? g?n v?i màu s?c b?c trang nhã cùng hi?u nang dáp ?ng công vi?c, gi?i trí và ch? d? b?o m?t vân tay hi?n d?i.', N'Thi?t k? m?ng g?n th?a s?c xê d?ch', 1, 1, 1, 1)
INSERT [dbo].[Products] ([ID], [Name], [Price], [Discount], [Description], [Features], [Active], [BrandID], [CategoryID], [ProductDetailID]) VALUES (3, N'Laptop HP 348 G7 i3 8130U/4GB/256GB/Win10 (9PG83PA)', 10990000, 20000, N'Ðu?c xu?ng tên trong phân khúc laptop h?c t?p - van phòng l?n này là m?t chi?c laptop nh? g?n n?a d?n t? thuong hi?u HP - laptop HP 348 G7 i3 8130U (9PG83PA), h?a h?n s? dáp ?ng t?t m?i nhu c?u s? d?ng laptop thu?ng ngày c?a dân van phòng và c? các b?n h?c sinh sinh viên.', N'C?u hình ?n d?nh trong t?m giá', 1, 4, 4, 3)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([ID], [Fullname], [Password], [Email], [Phone], [Address], [Image], [Role], [Active]) VALUES (1, N'Nguyen Ngoc Anh Tu', N'tu01234', N'sangmagic123@gmai.com', N'01234596811', N'Can tho', N'aaaa', N'admin', 1)
INSERT [dbo].[Users] ([ID], [Fullname], [Password], [Email], [Phone], [Address], [Image], [Role], [Active]) VALUES (2, N'Hua quoc vinh', N'vinh01234', N'vinh123@gmai.com', N'01234596812', N'Can tho', N'aaa214a', N'admin', 1)
INSERT [dbo].[Users] ([ID], [Fullname], [Password], [Email], [Phone], [Address], [Image], [Role], [Active]) VALUES (3, N'Nguyen Hao', N'hao01234', N'hoanguyen123@gmai.com', N'0123459684', N'Can tho', N'aaaa323aa', N'admin', 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Comments_dbo.Products_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ID])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_dbo.Comments_dbo.Products_ProductID]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Comments_dbo.Users_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_dbo.Comments_dbo.Users_UserID]
GO
ALTER TABLE [dbo].[Images]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Images_dbo.Products_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ID])
GO
ALTER TABLE [dbo].[Images] CHECK CONSTRAINT [FK_dbo.Images_dbo.Products_ProductID]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderDetails_dbo.Orders_OrderID] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([ID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_dbo.OrderDetails_dbo.Orders_OrderID]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderDetails_dbo.Products_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_dbo.OrderDetails_dbo.Products_ProductID]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Orders_dbo.Users_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_dbo.Orders_dbo.Users_UserID]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.Brands_BrandID] FOREIGN KEY([BrandID])
REFERENCES [dbo].[Brands] ([ID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.Brands_BrandID]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.Categories_CategoryID] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([ID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.Categories_CategoryID]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.ProductDetails_ProductDetailID] FOREIGN KEY([ProductDetailID])
REFERENCES [dbo].[ProductDetails] ([ID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.ProductDetails_ProductDetailID]
GO
