/* NAVIGATION */

#nav {
    background-color: #F47983;
}

#menu a {
    display: block;
    width: 100px;
    color: #8e44ad;
    font-weight: bold;
    margin: 5px;
    background-color: #f8a5c2;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom: 5px solid #f8a5c2;
    border-right: 5px solid #f8a5c2;
    
}

#menu a:hover {
    color: #084aff;
    border-bottom: 5px solid #888aff;
    border-right: 5px solid #888aff;
    opacity: 0.8;
    transition: all 0.5s;
}

#search input {
    padding: 10px;
    border: 2px solid #7579e7;
    border-bottom-left-radius: 15px;
}

#search button {
    color: #ffffff;
    padding: 0 15px;
    border: 2px solid #7579e7;
    border-top-right-radius: 15px;
    background-color: #7579e7;
}

#search button:hover {
    opacity: 0.9;
}

/* SLIDER */
.slider {
    width: 100%;
    height: 600px;
    border-radius: 10px;
    overflow: hidden;
}

.slides {
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}
  
.slide img {
    width: 100%;
    /* height: 600px; */
}

/*css for manual slide navigation*/
.navigation-manual{
    position: absolute;
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
  
.manual-btn{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
  
.manual-btn:not(:last-child){
    margin-right: 40px;
}
  
.manual-btn:hover{
    background: #40D3DC;
}
  
#radio1:checked ~ .first{
    margin-left: 0;
}
  
#radio2:checked ~ .first{
    margin-left: -20%;
}
  
#radio3:checked ~ .first{
    margin-left: -40%;
}
  
#radio4:checked ~ .first{
    margin-left: -60%;
}


/* BODY */
.main-body {
    display: block;
    position: relative;
    /* height: 1024px; */
}

.main-body:after {
    content: "";
    background: url('../../img/background.jpg') no-repeat fixed center;
    opacity: 0.6;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

/* FOOTER */
.footer {
    background-color: #F47983;
}

@media only screen and (max-width: 900px) {
    .slider {
        height: 400px;
    }
    .navigation-manual{
        margin-top: -130px;
    }
    #menu a {
        width: 100%;
    }
}
@media only screen and (max-width: 600px) {
    .slider {
        height: 200px;
    }
    .slide {
        height: 200px;
    }
    .slides {
        height: 200px;
    }
    .navigation-manual {
        margin-top: -30px;
    }
}
