@model SaleLaptopSystem.Models.User

@{ ViewBag.Title = "Reset password"; }

<h2 class="text-center">Reset Password</h2>

@if (Session["code"] == null)
{
    <form class="text-center border border-light p-5" action="/Users/Reset" method="post">
        <input type="text" class="form-control mb-4" placeholder="Email" name="email">
        <button class="btn btn-info btn-block" type="submit">Get code</button>
    </form>
} else
{
    <form class="text-center border border-light p-5" action="/Users/Reset" method="post">
        <input type="text" class="form-control mb-4" placeholder="Enter code" name="code">
        <input type="password" class="form-control mb-4" placeholder="Password" name="pass">
        <input type="password" class="form-control mb-4" placeholder="Confirm password" name="confirm">
        <button class="btn btn-info btn-block" type="submit">Update password</button>
    </form>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
