@model IEnumerable<SaleLaptopSystem.Models.Order>
@using SaleLaptopSystem.Models
@{
    ViewBag.Title = "Checkout";
}

<div class="sign-up container">
    
    <form class="text-center">
        <div class="md-form p-2">
            <h1 class="text-center text-uppercase purple-text font-weight-bold">Confirm Order Info</h1>
        </div>
        <div class="md-form">
            <label for="fullname">Fullname:</label>
            <input name="fullname" type="text" class="form-control" id="fullname" value="@((Session["User"] as User).Fullname)">
        </div>
        <div class="md-form">
            <label for="phone">Phone:</label>
            <input name="phone" type="text" class="form-control" id="phone" value="@((Session["User"] as User).Phone)">
        </div>
        <div class="md-form">
            <label for="email">Email address:</label>
            <input name="email" type="email" class="form-control" id="email" value="@((Session["User"] as User).Email)">
        </div>
        <div class="md-form">
            <label for="address">Address:</label>
            <input name="address" type="text" class="form-control" id="address" value="@((Session["User"] as User).Address)">
        </div>
        
        
        <button type="submit" class="btn btn-pink btn-block rounded-pill">Confirm Order</button>
    </form>
</div>
